  <div class="topnav">
    <div class="container">

    <a href="" (click)="selectSearch(item)" *ngFor="let item of searches; let i = index"> Search {{ (i + 1) }} </a>

    <div class="search-container">
      <form (submit)="doSearch()">
        <input #searchInput type="text" placeholder="Search.." name="search" autocomplete="off"/>
        <button class="button"type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
